/wp-web/AloMundo/dist/
/wp-web/emcaminharAtributoObjeto/dist/
/wp-web/encaminharAtributoObjeto/dist/
/wp-web/encaminharIMC/dist/
/wp-web/encaminharIMCAtributo/dist/
/wp-web/ExemploDuplaFuncao/dist/
/wp-web/ExemploGet/dist/
/wp-web/ExemploGetePOst/dist/
/wp-web/ExemploGetParametros/dist/
/wp-web/ExemploPost/dist/
